[Unit]
Description=Init Service for goSensorServer
OnFailure=/home/pi/scripts/rpi_server_service.sh restart
After=multi-user.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/home/pi/scripts/rpi_server_service.sh restart
Restart=on-failure

[Install]
WantedBy=multi-user.target